/* Global App Styles */

body {
  background-color: #282c34;
  color: #F3F3F3;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.main-content {
	width: 100vw;
	min-height: calc(100vh - 3.3rem);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	overflow-wrap: break-word;
}