.Artist * {
  animation: fade-in 0.6s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* .Artist {
  margin: 3vh 15vw;
  flex-grow: 1;
}

@media (max-width: 750px) {
  .Artist {
    margin: 3vh 0;
  }
} */

.Artist > *:first-child {
  margin-top: 0;
}

.Artist .Artist-profile-image {
  margin: 20px auto;
  width: 320px;
  height: 320px;
  overflow: hidden;
  border-radius: 50%;
}

.Artist .full-hero {
  width: 320px;
  height: 320px;
}

.Album-list {
  padding: 0;
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
}

.Album-item {
  list-style: none;
  background: #3e3f52;
  border-radius: 5px;
}
.Album-item.selected {
  background: #9496bd;
}
.Album-item {
  margin: 0 0.5em 1em 0.5em;
  width: 232px; /* HEY! */
}
.Album-item div {
  /* height: calc(100% - 72px); */
  padding: 36px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
}
.Album-item div * {
  margin: 0;
}
.Album-item h3,
.Album-item p {
  color: white;
  text-decoration: none;
}
.Album-item div {
  text-decoration: none;
}
/* .Album-item:hover {
  background: #24252c;
} */
.Album-item.selected:hover {
  background: #7a7da7;
}
img.Album-image {
  width: 160px;
  height: 160px;
  border-radius: 0;
  margin-bottom: 36px;
}

.Album-list.Track-list {
  margin-top: 32px;
  text-align: left;
  /* justify-content: flex-start; */
  /* align-items: stretch;
  align-content: stretch; */
}

.Album-item.Track-item {
  width: 180px;
  padding: 5px 5px 5px 10px;
  margin-bottom: 5px;
}
