.Navbar {
	/* Layout */
	position: relative;
	z-index: 1000;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 16% 18% 18% 18% 18% 12%;
	/* Dimensions */
	width: calc(100vw - 32px);
	height: 3.3rem;
	max-height: 3.3rem;
	padding: 0 16px;
	/* Looks */
	background-color: #3E3F52;																		/* Background color for Navbar */
	box-shadow: 0px -2px 10px #000000;
}

.Navbar > * {
	/* Layout */
	text-align: center;
	vertical-align: middle;
	/* Dimensions */
	width: 100%;
	line-height: 3.3rem;
	font-size: 1.1rem;
	/* Looks */
	color: white;
	text-decoration: none;
	font-family: "Noto Sans", sans-serif;
	font-weight: lighter;
}
.Navbar-primary {
	display: flex; /* fixes text alignment */
}
.Navbar-primary a {
	text-decoration: none; /* remove the underline when clicking logo */
}
.Navbar-primary a:first-child {
	display: flex; /* fixes text alignment */
}
.Navbar-last {
	max-height: 3.3rem;
	min-height: 3.3rem;
	align-self: center;
	justify-self: center;
}
.Navbar-last a {
	display: block;
	line-height: 1em;
	/*overflow: hidden;
	text-overflow: ellipsis;*/
}
.Navbar > *:nth-child(n+2):nth-child(-n+4):hover {
	background-color: #38394A;																		/* Link hover color */
}
.Navbar-active {
	text-decoration: underline;
}

.Navbar-logo {
	height: 2.475rem;
	align-self: center;
	padding-right: 5px;
	user-select: none;
}

.Navbar-title {
	/* Dimensions */
	line-height: 3.3rem;
	font-size: 1.05rem;
	/* Looks */
	color: #2ECDB7;																								/* Logo text color */
	/*color: #1DADA3;	*/
	user-select: none;
}
.Navbar-mobile-menu {
	display: none;
}

.Navbar-search {
	/* Dimensions */
	max-width: calc(90% - 16px);
	border: none;
	padding: 8px;
	font-size: 1rem;	
	/* Looks */
	color: white;
	background-color: #656687;
	border-radius: 5px;
}
.Navbar-search::placeholder {
	color: #BFBFBF;
}

.Navbar-login { 
	/* Dimensions */
	max-width: calc(100% - 32px);
	width: fit-content;
	margin: 0.5em 0 0.5em auto;
	padding: 0.5em 0.75em;
	font-size: 1em;
	/* Looks */
	color: white;
	background-color: #2ecdb7;
	border-radius: 5px;
	text-decoration: none;
}
.Navbar-login div {
	font-size: 0.8rem;
	/*overflow: hidden;
  text-overflow: ellipsis*/
}
.Navbar-login:hover {
	/*background-color: #32E8D0;*/
	background-color: #25A998;
}
.Navbar-login.Navbar-account {
	background-color: #272835;
}
.Navbar-login.Navbar-account:hover {
	background-color: #22232F;
}

@media (max-width: 750px) {
	.Navbar {
		--navbar-font-size: 1rem;
		max-height: 19.8rem;
		height: 19.8rem;
		grid-auto-flow: row;
		grid-template-columns: 100%;
		/* Get rid of margins */
		padding: 0 0;
		width: 100vw;
	}

	.Navbar > * {
		box-shadow: 0px 1px 0px #7b7b7b;												/* This is the border between menus */
	}

	.Navbar-mobile-menu {
		display: inline;
	  padding: 0 16px;
	  margin-left: auto;
	  font-size: 1.6rem;
	  user-select: none;
	}

	.Navbar-last {
		text-align: center;
		box-shadow: none; /* no border on last element */
	}

	.Navbar-login {
		margin: 0.5em auto;
	}

	.Navbar-minimized {
		height: 3.3rem;
		width: 100vw;
		padding: 0px;
	}

	.Navbar-minimized .Navbar-primary {
		box-shadow: none; /* no border when minimized */
	}

	.Navbar-logo {
		margin-left: 16px;
	}

	.hidden {
		display: none;
	}

}

