.Navbar {
	/* Global */
	--navbar-font-size: 1.1rem;
	max-height: calc(3 * var(--navbar-font-size));
	/* Layout */
	position: relative;
	z-index: 1000;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 16% 18% 18% 18% 18% 12%;
	/* Dimensions */
	width: calc(100vw - 32px);
	height: calc(3 * var(--navbar-font-size));
	padding: 0 16px;
	/* Looks */
	background-color: #3E3F52;
	box-shadow: 0px -2px 10px #000000;
}

.Navbar > * {
	/* Layout */
	text-align: center;
	vertical-align: middle;
	/* Dimensions */
	width: 100%;
	line-height: calc(3 * var(--navbar-font-size));
	font-size: var(--navbar-font-size);
	/* Looks */
	color: white;
	text-decoration: none;
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
}
.Navbar-primary {
	display: flex;
}
.Navbar-primary a:first-child {
	display: flex;
	/*padding-left: 16px;*/
	/*width: calc(100% - 16px);*/
}
.Navbar-last {
	text-align: end;
}
.Navbar > *:nth-child(n+2):nth-child(-n+4):hover {
	background-color: #38394A;
}
.Navbar-active {
	text-decoration: underline;
}

.Navbar-logo {
	height: calc(2.25 * var(--navbar-font-size));
	align-self: center;
	padding-right: 5px;
	user-select: none;
}

.Navbar-title {
	/* Dimensions */
	line-height: calc(3 * var(--navbar-font-size));;
	font-size: calc(var(--navbar-font-size) - 0.05em);
	/* Looks */
	color: #2ecdb7;
	user-select: none;
}
.Navbar-mobile-menu {
	display: none;
}

.Navbar-search {
	/* Dimensions */
	max-width: calc(90% - 16px);
	border: none;
	padding: 8px;
	font-size: calc(var(--navbar-font-size) - 0.1em);	
	/* Looks */
	color: white;
	background-color: #656687;
	border-radius: 5px;
}
.Navbar-search::placeholder {
	color: #BFBFBF;
}

.Navbar-login { 
	/* Dimensions */
	max-width: calc(100% - 24px);
	padding: 8px 12px;
	font-size: calc(var(--navbar-font-size) - 0.1em);
	/* Looks */
	color: white;
	background-color: #2ecdb7;
	border-radius: 5px;
	text-decoration: none;
}
.Navbar-login:hover {
	/*background-color: #32E8D0;*/
	background-color: #25A998;
}
.Navbar-login.Navbar-account {
	background-color: #656687;
}

@media (max-width: 750px) {
	.Navbar {
		--navbar-font-size: 1rem;
		max-height: calc(18 * var(--navbar-font-size));
		height: calc(18 * var(--navbar-font-size));
		grid-auto-flow: row;
		grid-template-columns: 100%;
	}

	.Navbar > * {
		box-shadow: 0px 1px 0px #7b7b7b;
	}

	.Navbar-mobile-menu {
		display: inline;
	  padding: 0 16px;
	  margin-left: auto;
	  font-size: calc(var(--navbar-font-size) + 0.5em);
	  user-select: none;
	}

	.Navbar-minimized {
		height: calc(3 * var(--navbar-font-size));
		width: 100vw;
		padding: 0px;
	}

	.Navbar-logo {
		margin-left: 16px;
	}

	.hidden {
		display: none;
	}

}

