.SongMap {
    height: calc(100vh - 3.3rem);
    width: 100vw;
    margin: 0px;
    background-color:	#f9f9f9;
    overflow: hidden;
    user-select: none;
}

#map {
    position: relative;
    float: left;
    width: calc(100% - 200px);
    height: calc(100% - 50px);
    background: lightgray;
    overflow: hidden;
    user-select: none;
}

#map-container {
    font-size: 100px;
    overflow: hidden;
    color: lightgray;
    box-shadow: 0px 0px 4px 1px;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#loader {
    width: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-panel {
    float: left;
    z-index: 1;
    right: 0;
    height: 100%;
    width: 30%;
    min-width: 200px;
    background:#616970;
    box-shadow: 4px 4px 4px 1px;
    opacity: 1;
}

.center {
    width: 100%;
    height: 100%;
}

.Location-Allow {
    background-color: #2ecdb7;
    width: 150px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin: auto;
    user-select: none;
}
.Location-Allow:hover {
	background-color: #219181;
}
a{
    text-decoration: none;
}

#map img[draggable="false"]{
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
}
  
