.SongMap {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color:	#f9f9f9;
    overflow: hidden;
}

#map {
    float: left;
    width: 100%;
    height: 100%;
    background: lightgray;
    overflow: hidden;
    user-select: none;
}
#map-container {
    overflow: hidden;
    color: lightgray;
    box-shadow: 0px 0px 4px 1px;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#side-panel {
    float: left;
    z-index: 1;
    right: 0;
    height: 100%;
    width: 30%;
    min-width: 200px;
    background:#616970;
    box-shadow: 4px 4px 4px 1px;
    opacity: 1;
}

.loader {
    width: 100px;
    height: 90vh;
}

@keyframes colorchange
{
      0%   {fill: red;}
      25%  {fill: yellow;}
      50%  {fill: blue;}
      75%  {fill: green;}
      100% {fill: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
        0%   {fill: red;}
        25%  {fill: yellow;}
        50%  {fill: blue;}
        75%  {fill: green;}
        100% {fill: red;}
}
